.playlistpage-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.playlistpage-box {
  background: linear-gradient(#0080ae 10%, #0080ae 10%, #121212 100%);
}
.playlist-header {
  padding: 20px;
}
.playlistpage-exp-container {
  width: 100%;
}
.playlist-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotify-exp {
  display: flex;
  gap: 10px;
}
.playlist-exp p {
  color: #b3b3b3;
}
.playlist-exp {
  margin: 20px;
}
.playlist-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.playlist-buttons {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist-actions img {
  margin-right: 20px;
}

.playlist-actions img:last-child {
  margin-right: 0;
}
