.slider-title {
  color: #ffffff;
  font-family: "Helvetica Neue", serif;
  font-size: 16px;
  font-weight: 900;
  margin: 0 12px 12px 0;
}
.slider-container {
  height: 220px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
.react-loading-skeleton {
  background-color: purple;
  border-radius: 8px;
}

.react-loading-skeleton::after {
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(224, 224, 224, 1) 100%
  );
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
